.ae-stage-direction-backdrop {
  @extend .ae-unselectable;
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;

  .ae-stage-direction-image-frame {
    @extend .ae-unselectable;
    height: 100%;
    width: 100%;
    object-fit: cover;

    color: transparent;
  }
}
