.ae-stage-direction-backdrop-container, .ae-stage-direction-backdrop {
  @extend .ae-unselectable;
  height: 100%;
  width: 100%;
}

.ae-stage-direction-backdrop-container {
  display: flex;
  position: absolute;
}

.ae-stage-direction-backdrop {
  object-fit: cover;

  color: transparent;
}
